*{
    font-family: 'Roboto', sans-serif;
    padding: 0px;
}

#nav-menu{
    /* width: 100%; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-image: linear-gradient(to right bottom, #ff6998, #ff50a5, #fa35b7, #ec1bcf, #d212eb);
    color: white;
}

#nav-menu>:nth-child(2){
    display: flex;
    list-style-type: none;
    gap: 30px;
    align-items: center;
}

#ham-menu {
    display: none;
}

.sidenav {
    display: none;
}

.container{
    width: 86%;
    margin: auto;
}
#resume-button-1{
    background-color: black;
    color: white;
    padding: 5px 10px;
    /* border-radius: 10px; */
}
#resume-button-1 a{
    text-decoration: none;
    color: white;
}
.nav-link{
    text-decoration: none;
    color: white;
}
#resume-button-2{
    padding: 13px 30px;
    background-color: #ff6998;
    color: white;
    border: none;
    border-radius: 10px;
}

#resume-button-2 a{
    text-decoration: none;
    color: white;

}
#home{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 110px;
    flex-wrap: wrap;
    /* border: 1px solid blue; */
}
.profile-details{
    width: 60%;
    text-align: center;


}

.home-img{
    width: 300px;
    /* height: 200px; */
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;

}

#user-detail-name{
    font-size: 50px;
}

.title{
    text-align: center;
    font-size: 33px;
}
.underline{
    width: 40px;
    height: 7px;
    border-radius: 30px;
    background-color: grey;
    margin: auto;
}
.about-text{
    width: 65%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}
#soft-skills{
    width: 100%;
    display: flex;
    /* gap: 40px; */
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.ss-img{
    width: 220px;
    height: 200px;
}
.ss-title{
    text-align: center;
}
.ss-div{
    padding: 20px;
    border-radius: 30px;
    transition: background-color 0.5s ease-in-out;
}
.ss-div:hover{
    background-color: grey;
}

#skill-container{
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: auto;
    gap: 20px;
    text-align: center;
    margin-top: 30px;

}
.skills-card{
    padding: 10px;
}
.skills-card:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 30px;
    background: rgb(121,9,107);
    background: linear-gradient(90deg, rgba(121,9,107,1) 0%, rgba(255,0,202,0.30584733893557425) 100%);
}

.skills-card-img{
    width: 100px;
    height: 100px;
}

#project-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    margin-top: 80px;
}

.project-img{
    height: 300px;
    width: 100%;
}

#github-container{
    display: flex;
    align-items: center;
    margin-top: 80px;
    gap: 20px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

#github-streak-stats{
    width: 100%;
    margin: auto;
}

#github-stats-card{
    width: 100%;
    margin: auto;
}
#github-top-langs{
    width: 100%;
    margin: auto;
}

#contact-container{
    width: 70%;
    display: flex;
    margin: auto;
    margin-top: 80px;
    border: 1px solid black;
    padding: 30px;
}


#contact-details {
    margin-top: 10%;
    margin-left: 10%;
    width: 30%;
    
}

#contact-details p{
    font-size: 20px;
}

#contact-form{
    width: 100%;
    margin-bottom: 20px;
}

#contact-form input,textarea{
    width: 100%;
    padding: 10px;
}
#contact-github{
    text-decoration: none;
    color: black;
    padding: 5px 15px;
    /* border: 1px solid black; */
    /* background-color: black; */
    
}
#contact-github:hover{
    background-color: #d212eb;
}
#contact-linkedin{
    text-decoration: none;
    color:rgb(14, 88, 191);
    font-size: small;
    /* background-color: ; */
    padding: 5px 15px;
}
#contact-linkedin:hover{
    background-color: #d212eb;
}
#contact-email{
    text-decoration: none;
    color: rgb(187, 42, 42);
    /* background-color: ; */
    padding: 5px 15px;
}
#contact-email:hover{
    background-color: #d212eb;
}
#contact-phone{
    text-decoration: none;
    color: rgb(27, 203, 57);
    /* background-color: ; */
    padding: 5px 15px;
}
#contact-phone:hover{
    background-color: #d212eb;
}
#contact-form-button{
    cursor: pointer;
    padding: 8px 30px;
    color: white;
    background-color: black;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    font-size: smaller;
    padding: 0.0001px;
    position: absolute;
    margin-top: 30px;
    /* 
    bottom: 0; */
}


@media screen and (min-width:570px)and(max-width:768px) {
    #nav-menu>:nth-child(2){
        display: none;
    }
    #project-container{
        grid-template-columns: repeat(1,1fr);
    }
    .container{
        width: 90%;
        margin: auto;
    }
    #ham-menu {
        display: block;
    }

    #ham-menu>span {
        color: #667C89;
    }

    .sidenav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* align-items: baseline; */
        height: 400px;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 79px;
        right: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-bottom: 20px;
        /* border: 1px solid blue; */
    }

    hr {
        height: 1px;
        width: 80%;
        margin: auto;
        color: rgb(216, 216, 216);
        background-color: rgb(216, 216, 216);
    }

    .sidenav a {
        /* border: 1px solid red; */
        width: 80%;
        /* padding: 8px 8px 8px 32px; */
        text-decoration: none;
        font-size: 20px;
        color: #667C89;
        display: flex;
        justify-content: left;
        /* align-items: center; */
        gap: 10px;

        transition: 0.3s;
        margin: auto;
        /* text-align: center; */

    }

    .sidenav a:hover {
        color: rgb(131, 131, 131);
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        /* right: 25px; */
        font-size: 36px;
        color: #667C89;
        /* margin-left: 50px; */
    }
    #user-detail-intro{
        width: 100%;
      }
    .home-img{
        /* display: block; */
        margin: auto;
        margin-top: 20px;
    }
    #skill-container{
        grid-template-columns: repeat(3,1fr);
    }
    .ss-img{
        width: 150px;
        height: 150px;
    }
    #github-stats-card{
        width: 100%;
    }
    #contact-form{
        width: 100%;
        
    }
    #github-container{
       display: block;
    }
}

@media screen and (max-width:569px){
    .ss-img{
        width: 120px;
        height: 120px;
    }
    .ss-div{
        padding: 10px;
    }
    #skill-container{
        grid-template-columns: repeat(2,1fr);
    }
    #nav-menu>:nth-child(2){
        display: none;
    }
    #project-container{
        grid-template-columns: repeat(1,1fr);
    }
    .container{
        width: 90%;
        margin: auto;
    }
    #ham-menu {
        display: block;
    }

    #ham-menu>span {
        color: #667C89;
    }

    .sidenav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* align-items: baseline; */
        height: 400px;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 79px;
        right: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-bottom: 20px;
        /* border: 1px solid blue; */
    }

    hr {
        height: 1px;
        width: 80%;
        margin: auto;
        color: rgb(216, 216, 216);
        background-color: rgb(216, 216, 216);
    }

    .sidenav a {
        /* border: 1px solid red; */
        width: 80%;
        /* padding: 8px 8px 8px 32px; */
        text-decoration: none;
        font-size: 20px;
        color: #667C89;
        display: flex;
        justify-content: left;
        /* align-items: center; */
        gap: 10px;

        transition: 0.3s;
        margin: auto;
        /* text-align: center; */

    }

    .sidenav a:hover {
        color: rgb(131, 131, 131);
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        /* right: 25px; */
        font-size: 36px;
        color: #667C89;
        /* margin-left: 50px; */
    }
    .profile-details{
        width: 100%;
      }
    .home-img{
        /* display: block; */
        margin: auto;
        margin-top: 20px;
    }
    #github-stats-card{
        width: 100%;
    }
    #contact-form{
        width: 100%;
    }
    
    
}